/******** GLOBAL *********/
* {box-sizing:border-box}

body {
	font-family: 'Playfair Display',Georgia, 'Times New Roman', Times, serif;
	color: black;
}

/***** top shadow *******/
body::before {
    content: "";
    position: fixed;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
    z-index: 100;
}

::selection {
    background-color: #FFA;
    color: #000;
}
 
/**** Typo sizes **********/
/*html {font-size: 62.5%}*/

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}

.h1, h1{
    font-size: 2.5rem;
    text-align: center;
}

.h2, h2 {
    font-size: 2rem;
}

.h3, h3 {
    font-size: 1.75rem;
}

.h4, h4 {
    font-size: 1.5rem;
}

.h5, h5 {
    font-size: 1.25rem;
}

.h6, h6 {
    font-size: 1rem;
}

/************ Images *****/

img {
	max-width: 100%;
}

/******** Links *********/

a {
    color:  rgba(0, 0, 0,1);
    text-decoration: none;
}

a:hover {
    color:  rgba(0, 0, 0,0.5);

}

/********** Formats *********/

.post code {
    background-color: chocolate;
    padding: 0 35px 0 0;
    display: block;
    min-height: 35px;
    padding: 0 0 0 30px;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

table {
    border-collapse: collapse;
    border-color: #CDCDCD;
    border-style: solid;
    border-width: 1px 0;
    width: 100%;
    text-align: center;
}

ul{
    list-style-type: none;
}

#logo-big {
    max-width: 150px;
}

.nav-icon {
    max-width: 2.5rem;
}




/********* Display *******/

.flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}


.element-invisible {
    position: absolute !important;
    height: 1px; width: 1px; 
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
  }

 .container-80{
    max-width: 80%;
    margin: auto;
    text-align: center;
}

.main{
    margin-top: 3rem;
}

/********** HEADER **********/
div.bar{
padding: 1rem;

border-top: 1px solid rgba(0, 0, 0, 1);
border-bottom: 1px solid  rgba(0, 0, 0, 1);
}

.top-bar, .network{
    justify-content: space-between;
}

.network {
    width: 30%;
}

.network a{
    transition: all cubic-bezier(0.645, 0.045, 0.355, 1);
}

.network a:hover{
    font-size: 1.5rem;
}


#search-text {
    width: 100%;
    border: none;
}

#search-text:focus {
    opacity: 0.5;
}

.inner-header a {
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 1rem;
}


/********* MAIN HOME **********/
main{
    overflow: hidden;
}

section.blog {
    width: 60%;
    float: left;
    margin-top: 2rem;
}

aside.sidebar {
    width: 35%;
    float: right;
    margin-top: 2rem;
}

aside.sidebar section{
    margin-bottom: 3rem;
    border-bottom: 1px solid black;
}

aside.sidebar section li{
    padding: 0.5rem;
}

aside.sidebar ul{
    padding-left: 0px;
}

article.post {
    /*overflow: auto;*/
    margin-bottom: 3rem;
    border-bottom: 1px solid black;
}

.post img{
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
    
}

.post .small-img {
    max-width: 400px;
}

.post-content{
    text-align: justify;
    line-height: 1.8rem;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

.title{
    margin-bottom: 1rem;
}

.left {
    text-align: left;
}

.go-up nav{
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
}

.presentation{
    margin-bottom: 3rem;
}

.reactions{
    padding: 1rem;
}

.follow-me form{
    margin-bottom: 2rem;
}

/***** WEATHER  
@todo ajouter backgrounds
*******/
.clear{
    background-image: url();
}

.clouds{
    background-image: url();
}

.rain{
    background-image: url();
}

.snow{
    background-image: url();
}

section.weather {
    font-family: fantasy;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section.weather h1{
    font-size: 3rem;
}

i.wi{
    font-size: 5rem;
    padding: 1rem;
}

section.weather h2{
    font-size: 2em;
}

#cityWeather.tooltip{
    position: absolute;
    top: 0px;
    left: 10px;
    opacity: 0;
    color: #fff;
    background-color: #222222;
    border-radius: 5px;
    padding: 10px;
    font-size: 12px;
    transition: opacity .3s, top .5s;
}

h1:hover #cityWeather.tooltip{
    top:-50px;
    opacity: 1;
}

#conditions{
    text-transform: capitalize;
}

/********* CONTACT ******************/
form.contact{
    text-align: center;
    margin: 2rem;
}

form.contact input.txt, textarea{
    display: block;
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    padding-top: 1rem;
    margin-bottom: 1rem;
    -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}

form.contact input:focus, textarea:focus, #city:focus{
    background-color: none;
    box-shadow: 0 0 5px rgb(25, 29, 31);
    /*padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;*/
    border: 1px solid rgb(33, 39, 41);
}

.flat-button{
    border: 1px solid black ;
    color: rgb(0, 0, 0);
    background: #fff;
    outline: none;
    display: inline-block;
    padding: 0.5rem 1rem;
    cursor: pointer;
    width: auto;
    transition: all 1s ease-in-out;
}

.flat-button:hover{
    background-color: black;
    color: white;
    box-shadow: 0 0 5px rgb(25, 29, 31);
}

/*********** Login ******************/
body.login{
    background-color: black;
}

div.container.login{
    position: absolute;
    top: 25%;
    max-width: 50%;
    justify-content: center;
    border-radius: 3px;
    border: 1px solid black;
    background-color: white;
}

.login-title{
    margin-bottom: 3rem;
    margin-top: 1rem;
    text-align: left;
}

input.login.flat-button{
    margin-top: 2rem;
    text-align: left;
}

/*********** Footer ****************/

/*********** carrousel *************/

section.carrousel{
    background-color: black;
}
/* Blur effect and focus with hover */
.blur div img {
	-webkit-filter: blur(3px);
	filter: blur(3px);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.blur div:hover img {
	-webkit-filter: blur(0);
	filter: blur(0);
}

/* Leyend position over image */
div.img-min{
    position: relative;
    width: 100%;
    display: block;
    overflow: hidden;
    z-index: 0;
}

div.fluid-leyend{
    position: absolute;
    top: -50%;
    left: 5%;
    opacity: 0;
    z-index: 2;
    transition: all 0.6s ease;
    color: #fff;
}

div.fluid-leyend h3{
    font-size: 1rem;
}

/* leyend motion */
div.img-min:hover div.fluid-leyend{
    opacity: 1;
    top: 25%;
}


/********** Responsive  ***********/


/* tablet Portrait and Landscape */
@media only screen and (max-width: 1200px) {

    section.blog {
        width: 100%;
        float: none;
    }
    
    aside.sidebar {
        width: 100%;
        float: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .blur div img {
        -webkit-filter: blur(0);
        filter: blur(0);
    }

    div.fluid-leyend {
        position: absolute;
        top: 5%;
        left: 5%;
        opacity: 0.8;
        z-index: 2;
        transition: all 0.6s ease;
        color: #fff;
    
    }
}

@media only screen and (max-width: 750px) {

    header div.top-bar{
        display: block;
    }

    nav.nav-bar.network{
        width: 100%;
    }


    section.blog {
        width: 100%;
        float: none;
    }
    
   
    aside.sidebar {
        width: 100%;
        float: none;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap
    }

    section.carrousel{
        flex-wrap: wrap;
    }

    section.carrousel div.img-min{
        width: 30%;
    }



}


/************* Modals ********************/
.modal-dialog {
	position: fixed;
	top: 30%;
	right: 50%;
	background: rgba(0,0,0,0.0);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
    pointer-events: none;
    text-align: center;
}

.modal-dialog:target {
	opacity:1;
	pointer-events: auto;
}


.modal-dialog .modal-content {
	width: 600px;
    position: relative;
    top: 30%;
    left: 50%;
    background-color: white;
    -webkit-box-shadow: 0px 26px 49px 38px rgba(0,0,0,0.75); 
    box-shadow: 0px 26px 49px 38px rgba(0,0,0,0.75);
    border-radius: 5px
    
    
}

.modal-dialog .modal-content ul{
    padding: 0vh;
    display: inline-flex;
    
}

.modal-close {
	background: black;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px grey;
	-webkit-box-shadow: 1px 1px 3px grey;
	box-shadow: 1px 1px 3px grey;
}

.modal-close:hover { background: red; }


.share-items{
    padding: 0.5rem;
}

.share-items i{
    padding-right: 0.3rem;
}


